@font-face {
  font-family: "SST";
  src: url("../assets/fonts/sst/SSTLight.TTF") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SST";
  src: url("../assets/fonts/sst/SSTRg.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SST";
  src: url("../assets/fonts/sst/SSTMedium.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SST";
  src: url("../assets/fonts/sst/SSTBold.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Natural */
/* Khaki */
/* Vermilion */
/* Orange */
/* Scarlet red */
/* Blue */
/* Blue violet */
/* Purple */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'SST', sans-serif;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  color: #fff;
  background-color: #0072ce;
  font-family: 'SST';
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1rem;
  border: none;
  border-radius: 1.7rem;
  padding: .5rem 1.2rem;
}

.btn:hover {
  background-color: #005499;
}

.header {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3rem 1.2rem;
  z-index: 999999;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__nav .header__nav__itm {
  cursor: pointer;
  color: #1f1f1f;
  font-family: 'SST';
  font-size: 1rem;
  font-weight: 500;
  margin-right: 2.5rem;
}

.header .header__nav .header__nav__itm:hover {
  color: #0072ce;
}

.header .header__dropdown-menu {
  background-color: #fff;
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
}

.header .header__dropdown-menu .header__dropdown-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .header__dropdown-menu .header__dropdown-menu__top .header__dropdown-menu__top__itm {
  cursor: pointer;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 3rem;
  margin: .8rem;
}

.header .header__dropdown-menu .header__dropdown-menu__top .header__dropdown-menu__top__itm .header__dropdown-menu__top__itm__txt {
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1rem;
}

.header .header__dropdown-menu .header__dropdown-menu__top .header__dropdown-menu__top__itm:hover {
  -webkit-box-shadow: 1px 1px 5px #adadad;
          box-shadow: 1px 1px 5px #adadad;
}

.header .header__dropdown-menu .header__dropdown-menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 1px #ccc;
  width: 100%;
  padding: 1rem;
}

.header .header__dropdown-menu .header__dropdown-menu__bottom .header__dropdown-menu__bottom__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__dropdown-menu .header__dropdown-menu__bottom .header__dropdown-menu__bottom__nav__itm {
  cursor: pointer;
  display: list-item;
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1rem;
  margin-right: 2rem;
}

.header .header__dropdown-menu .header__dropdown-menu__bottom .header__dropdown-menu__bottom__nav__itm:hover {
  color: #0072ce;
}

.header .header__dropdown-menu .header__dropdown-menu__bottom .header__dropdown-menu__bottom__nav__itm:before {
  content: "\2022";
  display: inline-block;
  color: #0072ce;
  font-weight: bold;
  margin-left: -1em;
  width: 1em;
}

.hero .hero__viewer {
  background-image: url("../assets/images/Horizon-Burning-Shores-hero-desktop-01-en-23feb235.jpg");
  background-size: 100% auto;
  padding: 4rem 12rem;
}

.hero .hero__viewer .hero__viewer__container {
  width: 40%;
}

.hero .hero__viewer .hero__viewer__media .hero__viewer__img {
  height: 14rem;
}

.hero .hero__viewer .hero__viewer__info {
  color: #fff;
}

.hero .hero__viewer .hero__viewer__info .hero__viewer__title {
  font-family: 'SST';
  font-weight: 300;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.hero .hero__viewer .hero__viewer__info .hero__viewer__details {
  font-family: 'SST';
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.hero .hero__slideshow-btn {
  display: none;
}

.hero .hero__slideshow-options {
  width: 100%;
  height: 30vh;
  padding: 4rem 12rem 0rem 12rem;
}

.hero .hero__slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero__slideshow .hero__slideshow__itm {
  cursor: pointer;
  overflow: hidden;
  background-color: whitesmoke;
  width: 18rem;
  height: 10rem;
  border-radius: 12px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.hero .hero__slideshow .hero__slideshow__itm .hero__slideshow__itm__img {
  width: 100%;
}

.hero .hero__slideshow:hover .hero__slideshow__itm:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.5);
}

.hero .hero__slideshow:hover .hero__slideshow__itm:not(:hover) {
  opacity: .7;
}

.equipments {
  padding: 0rem 12rem;
}

.equipments .equipments__viewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.equipments .equipments__viewer .equipments__viewer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

.equipments .equipments__viewer .equipments__viewer__container .equipments__viewer__info .equiments__viewer__title {
  font-family: 'SST';
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.equipments .equipments__viewer .equipments__viewer__container .equipments__viewer__info .equiments__viewer__details {
  font-family: 'SST';
  font-weight: 400;
  font-size: 1.5rem;
  opacity: .7;
  margin-bottom: 2rem;
}

.equipments .equipments__viewer .equipments__image-container {
  width: 60%;
}

.equipments .equipments__viewer .equipments__image-container .equipments__img {
  width: 100%;
}

.equipments .equipments__slideshow-options .equipments__slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.equipments .equipments__slideshow-options .equipments__slideshow .equipments__slideshow__itm {
  cursor: pointer;
  overflow: hidden;
  width: 13rem;
  height: 12rem;
  border-radius: 16px;
}

.equipments .equipments__slideshow-options .equipments__slideshow .equipments__slideshow__itm .equipments__slideshow__itm__img {
  width: 100%;
  padding: 1.1rem;
  padding-bottom: 0;
}

.equipments .equipments__slideshow-options .equipments__slideshow .equipments__slideshow__itm .equipments__slideshow__itm__text {
  text-align: center;
  font-family: 'SST';
  font-weight: 400;
  font-size: 1.1rem;
  opacity: .7;
  margin: .5rem 0;
}

.equipments .equipments__slideshow-options .equipments__slideshow .equipments__slideshow__itm--selected {
  border: solid #0072ce 3px;
}

.ps-plus {
  background-image: url("../assets/images/ps-plus-monthly-games-banner-desktop-01-en-27may22.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
  margin-top: 4rem;
}

.ps-plus .ps-plus__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 0rem 12rem;
}

.ps-plus .ps-plus__container .ps-plus__info .ps-plus__media {
  margin-bottom: 2rem;
}

.ps-plus .ps-plus__container .ps-plus__info .ps-plus__media .ps-plus__media__img {
  width: 30rem;
}

.ps-plus .ps-plus__container .ps-plus__info .ps-plus__details {
  font-family: 'SST';
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.ps-plus .ps-plus__image-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ps-plus .ps-plus__image-container .ps-plus__img {
  width: 40rem;
}

.vr {
  background-image: url("../assets/images/psvr2-register-homepage-hero-desktop-01-en-14nov22.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 73vh;
}

.vr .vr__container {
  padding-left: 12rem;
  padding-right: 55%;
}

.vr .vr__container .vr__info .vr__title {
  color: #fff;
  font-family: 'SST';
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.vr .vr__container .vr__info .vr__details {
  color: #fff;
  font-family: 'SST';
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.this-month {
  width: 100%;
}

.this-month .this-month__top {
  background-image: url("../assets/images/this-month-on-playstation-apr-homepage-background-desktop-01-en-16mar23.jpg");
  background-size: cover;
  height: 50vh;
  padding: 0 12rem;
  padding-top: 5rem;
}

.this-month .this-month__top .this-month__top__container .this-month__info .this-month__title {
  color: #fff;
  font-family: 'SST';
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.this-month .this-month__top .this-month__top__container .this-month__info .this-month__title--bold {
  font-weight: 700;
}

.this-month .this-month__top .this-month__top__container .this-month__info .this-month__details {
  color: #fff;
  font-family: 'SST';
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 0.7;
  margin-bottom: 2rem;
  padding-right: 55%;
}

.this-month .this-month__bottom {
  background-color: #26254f;
  height: 45vh;
  padding: 0 12rem;
}

.this-month .this-month__bottom .this-month__bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.this-month .this-month__bottom .this-month__bottom__container .this-month__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33rem;
}

.this-month .this-month__bottom .this-month__bottom__container .this-month__card .this-month__card__img {
  cursor: pointer;
  width: 90%;
  border-radius: 12px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.this-month .this-month__bottom .this-month__bottom__container .this-month__card .this-month__card__img:hover {
  scale: 1.02;
}

.this-month .this-month__bottom .this-month__bottom__container .this-month__card .this-month__card__text {
  color: #fff;
  text-align: center;
  font-family: 'SST';
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.gow {
  background-image: url("../assets/images/god-of-war-ragnarok-hero-banner-desktop-02-en-07sep21.jpg");
  background-size: cover;
  -webkit-box-shadow: 5vw -5vw 50vw rgba(0, 0, 0, 0.7) inset;
          box-shadow: 5vw -5vw 50vw rgba(0, 0, 0, 0.7) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 80vh;
}

.gow .gow__container {
  margin-bottom: 5rem;
  padding-left: 12rem;
  padding-right: 55%;
}

.gow .gow__container .gow__info .gow__logo {
  width: 30rem;
}

.gow .gow__container .gow__info .gow__title {
  color: #fff;
  font-family: 'SST';
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.gow .gow__container .gow__info .gow__details {
  color: #fff;
  font-family: 'SST';
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.blogs {
  display: none;
}

.footer {
  display: none;
}

.games {
  display: none;
}

.merch {
  display: none;
}

.ps4 {
  display: none;
}

.search {
  display: none;
}

.socials {
  display: none;
}
/*# sourceMappingURL=main.css.map */