
//FONTS ====================================================

@font-face {
    font-family: "SST";
    src: url('../assets/fonts/sst/SSTLight.TTF') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "SST";
    src: url('../assets/fonts/sst/SSTRg.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SST";
    src: url('../assets/fonts/sst/SSTMedium.TTF') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SST";
    src: url('../assets/fonts/sst/SSTBold.TTF') format('truetype');
    font-weight: 700;
    font-style: normal;
}

// COLORS ==================================================

/* Natural */
$white: #fff;
$gray: #ccc;
$dark-gray: #adadad;
$black: #1f1f1f;

/* Khaki */
$khaki-100: #fba919;
$khaki-200: #ffda00;
$khaki-300: #ffd900;
$khaki-400: #faa61a;
$khaki-500: #ffcc03;

/* Vermilion */
$vermilion-100: #f26122;
$vermilion-200: #f04a23;
$vermilion-300: #ef4123;

/* Orange */
$orange-100: #f58020;
$orange-200: #f37321;

/* Scarlet red */
$scarletRed-100: #ed1c24;

/* Blue */
$blue-100: #0072ce;
$blue-300: #005499;


/* Blue violet */
$blueViolet-100: #00256b;


// Resets ==================================================
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $white;
    margin: 0;
    padding: 0;
    font-family: 'SST', sans-serif;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}


// MAIN ====================================================

.btn {
    cursor: pointer;

    color: $white;
    background-color: $blue-100;
    
    font-family: 'SST';
    font-size: 1.2rem;
    font-weight: 500;    
    line-height: 1rem;
    
    border: none;
    border-radius: 1.7rem;

    padding: .5rem 1.2rem;
    
}
.btn:hover {
    background-color: $blue-300;
}

.btn--has-outline {
}

.btn--white {
    
}
.btn--white:hover {

}

.header {
    background-color: $white;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .3rem 1.2rem;
	z-index: 999999;
	.header__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .header__nav__itm {
            cursor: pointer;

            color: $black;

            font-family: 'SST';
            font-size: 1rem;
            font-weight: 500;

            margin-right: 2.5rem;
        }
        .header__nav__itm:hover {
            color: $blue-100;
        }
	}

	.header__actions {
        .header__actions__itm {

        }    
	}

    .header__dropdown-menu {
        background-color:  $white;
        position: absolute;
        display: none;
        top: 100%;
        left: 0;

        width: 100%;

        
        .header__dropdown-menu__top {
            
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 100%;

            .header__dropdown-menu__top__itm {
                cursor: pointer;
                
                background-color: $white;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                padding: 1.5rem 3rem;
                margin: .8rem;

                .header__dropdown-menu__top__itm__icon {
        
                }
        
                .header__dropdown-menu__top__itm__txt {
                    font-size: .9375rem;
                    font-weight: 500;
                    line-height: 1rem;
                }
            }
            .header__dropdown-menu__top__itm:hover {
                box-shadow: 1px 1px 5px $dark-gray;

            }
        }

        .header__dropdown-menu__bottom {

            display: flex;
            justify-content: center;
            align-items: center;
            
            border-top: solid 1px $gray;

            width: 100%;
            
            padding: 1rem;

            .header__dropdown-menu__bottom__nav {
                display: flex;
                align-items: center;
            }

            .header__dropdown-menu__bottom__nav__itm {
                cursor: pointer;

                display: list-item;
            
                //list-style-type: disc;
                

                font-size: .9375rem;
                font-weight: 500;
                line-height: 1rem;

                margin-right: 2rem;

            }
            .header__dropdown-menu__bottom__nav__itm:hover {
                color: $blue-100;
            }
            
            .header__dropdown-menu__bottom__nav__itm:before {
                content: "\2022";  
                display: inline-block;

                color: $blue-100;
                font-weight: bold; 
                
                margin-left: -1em; 

                width: 1em; 
                

            }
        }

	}
   
	.header__logo {

	}


}

.hero {

	.hero__viewer {
        background-image: url('../assets/images/Horizon-Burning-Shores-hero-desktop-01-en-23feb235.jpg');
        background-size: 100% auto;


        padding: 4rem 12rem;
        .hero__viewer__container {
            width: 40%;

        }
    
        .hero__viewer__media {
            .hero__viewer__img {
                height: 14rem;
        
            }
        }
    
        .hero__viewer__info {
            color: $white;

            .hero__viewer__title {
                font-family: 'SST';
                font-weight: 300;
                font-size: 2.8rem;

                margin-bottom: 2rem;
            }
    
            .hero__viewer__details {
        
                font-family: 'SST';
                font-weight: 400;
                font-size: 1.1rem;

                margin-bottom: 2rem;
            }
        }
    
	}
    
    .hero__slideshow-btn {
        display: none;
        .hero__slideshow-btn__icon {

        }
    }

	.hero__slideshow-options {
		width: 100%;
		height: 30vh;
		
        padding: 4rem 12rem 0rem 12rem ;
    }
      
	.hero__slideshow {
		display: flex;

		justify-content: space-between;
		align-items: center;
        .hero__slideshow__itm {
			cursor: pointer;

			overflow: hidden;
			background-color: whitesmoke;
			width: 18rem;
			height: 10rem;

			border-radius: 12px;
            .hero__slideshow__itm__img {
				width: 100%;
    
            }
			transition: 200ms;
        }
	}
	.hero__slideshow:hover {
		.hero__slideshow__itm:hover {
			transform: translateY(-10%);
			box-shadow: 0px 12px 15px rgba($color: #000, $alpha: .5);
		}
		
		.hero__slideshow__itm:not(:hover) {
			opacity: .7;
		}
	}
}

.equipments {

	
	padding: 0rem 12rem;

	.equipments__viewer {

		display: flex;
	
	
		.equipments__viewer__container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 40%;
			.equipments__viewer__info {
	
				.equiments__viewer__title {
					font-family: 'SST';
					font-weight: 300;
					font-size: 2.5rem;
	
					margin-bottom: 2rem;
				}

				.equiments__viewer__details {
	
					font-family: 'SST';
					font-weight: 400;
					font-size: 1.5rem;
	
					opacity: .7;
					margin-bottom: 2rem;
				}
			}

			.equipments__viewer__actions {

			}
		}

		.equipments__image-container {
			width: 60%;
			.equipments__img {
				width: 100%;
			}
		}
	
	}

	.equipments__slideshow-options {

		.equipments__slideshow {
			display: flex;
			justify-content: space-between;
			.equipments__slideshow__itm {
				cursor: pointer;
				overflow: hidden;
				width: 13rem;
				height: 12rem;

				border-radius: 16px;
				.equipments__slideshow__itm__img {
					width: 100%;
		
					padding: 1.1rem;
					padding-bottom: 0;
				}
			
				.equipments__slideshow__itm__text {
					text-align: center;
					
					font-family: 'SST';
					font-weight: 400;
					font-size: 1.1rem;
	
					opacity: .7;
					margin: .5rem 0;
				}
			
			}
			.equipments__slideshow__itm--selected {
				border: solid $blue-100 3px;
			}
		}
	}

}


.ps-plus {
	background-image: url("../assets/images/ps-plus-monthly-games-banner-desktop-01-en-27may22.jpg");
	background-size: cover;

	display: flex;

	width: 100%;
	height: 70vh;

	margin-top: 4rem;
	.ps-plus__container {	

		display: flex;
		flex-direction: column;
		justify-content: center;

		width: 50%;
				
		padding: 0rem 12rem;
		.ps-plus__info {

			.ps-plus__media {
				.ps-plus__media__img {
					width: 30rem;

				}
				margin-bottom: 2rem;
			}
			.ps-plus__details {

				font-family: 'SST';
				font-weight: 400;
				font-size: 1.1rem;

				margin-bottom: 2rem;
			}
		}
		.ps-plus__actions {

		}
	
	}

	.ps-plus__image-container {
		
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		.ps-plus__img {
			width: 40rem;

		}
	}

}

.blogs {
    display: none;
	.blogs__card {

	}

	.blogs__card__author {

	}

	.blogs__card__author__avatar {

	}

	.blogs__card__author__avatar__img {

	}

	.blogs__card__author__info {

	}

	.blogs__card__author__job {

	}

	.blogs__card__author__name {

	}

	.blogs__card__date {

	}

	.blogs__card__img {

	}

	.blogs__card__title {

	}

	.blogs__card__txt {

	}

	.blogs__cards {

	}

	.blogs__cards-selector {

	}

	.blogs__cards-selectors {

	}

	.blogs__container {

	}

	.blogs__next {

	}

	.blogs__pre {

	}

	.blogs__title {

	}

}

.content {
   

}


.footer {
    display: none;
}

.games {
    display: none;

	.games__actions {

	}

	.games__card {

	}

	.games__card__img {

	}

	.games__card__title {

	}

	.games__container {

	}

	.games__title {

	}

	.games__txt {

	}

}

.gow {
    display: none;

	.gow__container {

	}

	.gow__details {

	}

	.gow__info {

	}

	.gow__title {

	}

}


.merch {
    display: none;

	.merch__card {

	}

	.merch__card__img {

	}

	.merch__card__title {

	}

	.merch__card__txt {

	}

	.merch__cards {

	}

	.merch__container {

	}

	.merch__icon {

	}

	.merch__infos {

	}

	.merch__title {

	}

	.merch__txt {

	}

}


.ps4 {
    display: none;

	.ps4__card {

	}

	.ps4__card__img {

	}

	.ps4__card__title {

	}

	.ps4__card__txt {

	}

	.ps4__cards {

	}

	.ps4__container {

	}

	.ps4__title {

	}

	.ps4__txt {

	}

}

.search {
    display: none;

}

.socials {
    display: none;

	.socials__container {

	}

	.socials__icon {

	}

	.socials__list {

	}

	.socials__title {

	}

}

.this-month {
    display: none;

	.this-month__bottom {

	}

	.this-month__bottom__container {

	}

	.this-month__card {

	}

	.this-month__card__img {

	}

	.this-month__card__text {

	}

	.this-month__details {

	}

	.this-month__info {

	}

	.this-month__title {

	}

	.this-month__top {

	}

	.this-month__top__container {

	}

}

.vr {
    display: none;

	.vr__container {

	}

	.vr__details {

	}

	.vr__info {

	}

	.vr__title {

	}

}

