
//FONTS ====================================================
@font-face {
    font-family: "SST";
    src: url('../assets/fonts/sst/SSTRg.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SST";
    src: url('../assets/fonts/sst/SSTBold.TTF') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SST";
    src: url('../assets/fonts/sst/SSTLight.TTF') format('truetype');
    font-weight: 100;
    font-style: normal;
}

// COLORS ==================================================

/* Natural */
$white: #fff;

/* Khaki */
$khaki-100: #fba919;
$khaki-200: #ffda00;
$khaki-300: #ffd900;
$khaki-400: #faa61a;
$khaki-500: #ffcc03;

/* Gray */
$gray-100: #1f1f1f;

/* Vermilion */
$vermilion-100: #f26122;
$vermilion-200: #f04a23;
$vermilion-300: #ef4123;

/* Orange */
$orange-100: #f58020;
$orange-200: #f37321;

/* Scarlet red */
$scarletRed-100: #ed1c24;

/* Blue */
$blue-100: #0072ce;

/* Blue violet */
$blueViolet-100: #00256b;


// Resets ==================================================
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $c-gray;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}


// MAIN ====================================================

.header {
    
	.header__actions {

	}

	.header__actions__itm {

	}

	.header__dropdown-menu {

	}

	.header__dropdown-menu__bottom {

	}

	.header__dropdown-menu__bottom__nav {

	}

	.header__dropdown-menu__bottom__nav__itm {

	}

	.header__dropdown-menu__top {

	}

	.header__dropdown-menu__top__itm {

	}

	.header__dropdown-menu__top__itm__icon {

	}

	.header__dropdown-menu__top__itm__txt {

	}

	.header__logo {

	}

	.header__nav {

	}

	.header__nav__itm {

	}

}

.blogs {
    display: none;
	.blogs__card {

	}

	.blogs__card__author {

	}

	.blogs__card__author__avatar {

	}

	.blogs__card__author__avatar__img {

	}

	.blogs__card__author__info {

	}

	.blogs__card__author__job {

	}

	.blogs__card__author__name {

	}

	.blogs__card__date {

	}

	.blogs__card__img {

	}

	.blogs__card__title {

	}

	.blogs__card__txt {

	}

	.blogs__cards {

	}

	.blogs__cards-selector {

	}

	.blogs__cards-selectors {

	}

	.blogs__container {

	}

	.blogs__next {

	}

	.blogs__pre {

	}

	.blogs__title {

	}

}

.btn {
    display: none;

}

.btn--simple {
    display: none;

}

.content {
    display: none;

	.equiments__viewer__details {

	}

	.equiments__viewer__title {

	}

}

.equipments {
    display: none;

	.equipments__image-container {

	}

	.equipments__img {

	}

	.equipments__slideshow {

	}

	.equipments__slideshow-options {

	}

	.equipments__slideshow__itm {

	}

	.equipments__slideshow__itm__img {

	}

	.equipments__slideshow__itm__text {

	}

	.equipments__viewer {

	}

	.equipments__viewer__actions {

	}

	.equipments__viewer__container {

	}

	.equipments__viewer__info {

	}

}

.footer {
    display: none;

}

.games {
    display: none;

	.games__actions {

	}

	.games__card {

	}

	.games__card__img {

	}

	.games__card__title {

	}

	.games__container {

	}

	.games__title {

	}

	.games__txt {

	}

}

.gow {
    display: none;

	.gow__container {

	}

	.gow__details {

	}

	.gow__info {

	}

	.gow__title {

	}

}

.hero {
    display: none;

	.hero__slideshow {

	}

	.hero__slideshow-btn {

	}

	.hero__slideshow-btn__icon {

	}

	.hero__slideshow-options {

	}

	.hero__slideshow__itm {

	}

	.hero__slideshow__itm__img {

	}

	.hero__viewer {

	}

	.hero__viewer__container {

	}

	.hero__viewer__details {

	}

	.hero__viewer__img {

	}

	.hero__viewer__info {

	}

	.hero__viewer__media {

	}

	.hero__viewer__title {

	}

}

.merch {
    display: none;

	.merch__card {

	}

	.merch__card__img {

	}

	.merch__card__title {

	}

	.merch__card__txt {

	}

	.merch__cards {

	}

	.merch__container {

	}

	.merch__icon {

	}

	.merch__infos {

	}

	.merch__title {

	}

	.merch__txt {

	}

}

.ps-plus {
    display: none;

	.ps-plus__actions {

	}

	.ps-plus__container {

	}

	.ps-plus__details {

	}

	.ps-plus__image-container {

	}

	.ps-plus__img {

	}

	.ps-plus__info {

	}

	.ps-plus__media {

	}

	.ps-plus__media__img {

	}

}

.ps4 {
    display: none;

	.ps4__card {

	}

	.ps4__card__img {

	}

	.ps4__card__title {

	}

	.ps4__card__txt {

	}

	.ps4__cards {

	}

	.ps4__container {

	}

	.ps4__title {

	}

	.ps4__txt {

	}

}

.search {
    display: none;

}

.socials {
    display: none;

	.socials__container {

	}

	.socials__icon {

	}

	.socials__list {

	}

	.socials__title {

	}

}

.this-month {
    display: none;

	.this-month__bottom {

	}

	.this-month__bottom__container {

	}

	.this-month__card {

	}

	.this-month__card__img {

	}

	.this-month__card__text {

	}

	.this-month__details {

	}

	.this-month__info {

	}

	.this-month__title {

	}

	.this-month__top {

	}

	.this-month__top__container {

	}

}

.vr {
    display: none;

	.vr__container {

	}

	.vr__details {

	}

	.vr__info {

	}

	.vr__title {

	}

}

